body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container {
  width: 90%;
  max-width: 400px;
  padding: 35px;
  border-radius: 10px; /* Increased border radius for a more modern look */
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow for a more prominent effect */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 30px; /* Increased margin for more spacing */
  text-align: center;
  color: #333; /* Changed text color for better contrast */
}

.form-group {
  margin-bottom: 20px; /* Increased margin for more spacing */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items */
}

label {
  font-weight: bold;
  color: #555; /* Changed label color for better contrast */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px; /* Increased padding for better input appearance */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px; /* Increased padding for better button appearance */
  border: none;
  border-radius: 5px;
  background-color: #00ff7b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s; /* Added transition for smoother hover effect */
}

button:hover {
  background-color: #008040;
}

.or {
  text-align: center;
  margin: 20px 0; /* Increased margin for more spacing */
  color: #555; /* Changed text color for better contrast */
}

.google-img {
  display: inline-block;
  width: 20px; /* Adjusted image size */
  margin-right: 10px; /* Added margin for better alignment */
}

.google-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #db4437;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: flex; /* Added flex display */
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
}


.google-btn:hover {
  background-color: #c13584;
}

.forgot-password,
.sign-up {
  display: block;
  text-align: center;
  margin-top: 15px; /* Increased margin for more spacing */
  color: blue;
  text-decoration: none;
}

.forgot-password:hover,
.sign-up:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  color: #555; /* Changed text color for better contrast */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="email"] {
  height: 2rem; 
  border-radius: 5px;
}

/* Responsive Styling */

@media only screen and (min-width: 600px) {
  .login-container {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .login-container {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}
